# Configuração inicial do ambiente de banco de dados

Conexão com o banco de dados

In [30]:
import psycopg2

def conectar_banco_dados():
    """
    Estabelece a conexão com o banco de dados PostgreSQL.

    Returns:
        conn, cursor: Objetos de conexão e cursor do banco de dados.
    """
    try:
        conn = psycopg2.connect(
            host="localhost",
            database="pnp",
            user="postgres",
            password="nis"
        )
        cursor = conn.cursor()
        print("Conexão com o banco de dados estabelecida com sucesso!")
        return conn, cursor
    except (Exception, psycopg2.Error) as error:
        print(f"Erro ao conectar ao banco de dados PostgreSQL: {error}")
        return None, None

## Tabela `microdados`

A tabela `microdados` armazena informações detalhadas sobre matrículas e cursos, provavelmente provenientes da Plataforma Nilo Peçanha. Abaixo está a descrição de sua estrutura:

**Campos da Tabela**

| Nome do Campo | Tipo de Dado | Descrição |
|---|---|---|
| `CARGA_HORARIA` | INTEGER | Carga horária total do curso |
| `CARGA_HORARIA_MINIMA` | INTEGER | Carga horária mínima exigida para o curso |
| `CATEGORIA_SITUACAO` | TEXT | Categoria da situação da matrícula (ex: "Matriculado", "Concluído", etc.) |
| `CO_INST` | INTEGER | Código da instituição de ensino |
| `COD_UNIDADE` | INTEGER | Código da unidade de ensino |
| `COR_RACA` | TEXT | Cor ou raça do estudante |
| `CODIGO_DA_MATRICULA` | INTEGER | Código único da matrícula |
| `CODIGO_DA_UNIDADE_DE_ENSINO_SISTEC` | INTEGER | Código da unidade de ensino no sistema SISTEC |
| `CODIGO_CICLO_MATRICULA` | INTEGER | Código do ciclo da matrícula |
| `CODIGO_DO_MUNICIPIO_DV` | INTEGER | Código do município com dígito verificador |
| `DATA_INICIO_CICLO` | TEXT | Data de início do ciclo da matrícula |
| `DATA_FIM_PREVISTO_CICLO` | TEXT | Data prevista para o término do ciclo da matrícula |
| `DATA_OCORRENCIA_MATRICULA` | TEXT | Data da ocorrência da matrícula |
| `EIXO_TECNOLOGICO` | TEXT | Eixo tecnológico ao qual o curso pertence |
| `FAIXA_ETARIA` | TEXT | Faixa etária do estudante |
| `FATOR_ESFORCO_CURSO` | TEXT | Fator de esforço do curso |
| `FONTE_DE_FINANCIAMENTO` | TEXT | Fonte de financiamento do curso |
| `IDADE` | INTEGER | Idade do estudante |
| `INSTITUICAO` | TEXT | Nome da instituição de ensino |
| `MATRICULAS_ATENDIDA` | TEXT | Indica se a matrícula foi atendida |
| `MATRICULAS_EQUIVALENTES` | TEXT | Matrículas equivalentes |
| `MODALIDADE_DE_ENSINO` | TEXT | Modalidade de ensino (ex: "Presencial", "EaD") |
| `MUNICIPIO` | TEXT | Nome do município |
| `MES_DE_OCORRENCIA_DA_SITUACAO` | TEXT | Mês em que ocorreu a situação da matrícula |
| `NOME_DE_CURSO` | TEXT | Nome do curso |
| `NUMERO_REGISTROS` | INTEGER | Número de registros relacionados à matrícula |
| `REGIAO` | TEXT | Região geográfica onde se localiza o curso |
| `RENDA_FAMILIAR` | TEXT | Faixa de renda familiar do estudante |
| `SEXO` | TEXT | Sexo do estudante |
| `SITUACAO_DE_MATRICULA` | TEXT | Situação atual da matrícula |
| `SUBEIXO_TECNOLOGICO` | TEXT | Subeixo tecnológico ao qual o curso pertence |
| `TIPO_DE_CURSO` | TEXT | Tipo de curso (ex: "Técnico", "Superior") |
| `TIPO_DE_OFERTA` | TEXT | Tipo de oferta do curso |
| `TOTAL_INSCRITOS` | INTEGER | Total de inscritos no curso |
| `TURNO` | TEXT | Turno do curso (ex: "Manhã", "Tarde", "Noite") |
| `UF` | TEXT | Unidade Federativa onde se localiza o curso |
| `UNIDADE_DE_ENSINO` | TEXT | Nome da unidade de ensino |
| `VAGAS_EXTRAORDINARIAS_AC` | INTEGER | Quantidade de vagas extraordinárias para ampla concorrência |
| `VAGAS_EXTRAORDINARIAS_L1` | INTEGER | Quantidade de vagas extraordinárias para a cota 1 |
| `VAGAS_EXTRAORDINARIAS_L10` | INTEGER | Quantidade de vagas extraordinárias para a cota 10 |
| `VAGAS_EXTRAORDINARIAS_L13` | INTEGER | Quantidade de vagas extraordinárias para a cota 13 |
| `VAGAS_EXTRAORDINARIAS_L14` | INTEGER | Quantidade de vagas extraordinárias para a cota 14 |
| `VAGAS_EXTRAORDINARIAS_L2` | INTEGER | Quantidade de vagas extraordinárias para a cota 2 |
| `VAGAS_EXTRAORDINARIAS_L5` | INTEGER | Quantidade de vagas extraordinárias para a cota 5 |
| `VAGAS_EXTRAORDINARIAS_L9` | INTEGER | Quantidade de vagas extraordinárias para a cota 9 |
| `VAGAS_REGULARES_AC` | INTEGER | Quantidade de vagas regulares para ampla concorrência |
| `VAGAS_REGULARES_L1` | INTEGER | Quantidade de vagas regulares para a cota 1 |
| `VAGAS_REGULARES_L10` | INTEGER | Quantidade de vagas regulares para a cota 10 |
| `VAGAS_REGULARES_L13` | INTEGER | Quantidade de vagas regulares para a cota 13 |
| `VAGAS_REGULARES_L14` | INTEGER | Quantidade de vagas regulares para a cota 14 |
| `VAGAS_REGULARES_L2` | INTEGER | Quantidade de vagas regulares para a cota 2 |
| `VAGAS_REGULARES_L5` | INTEGER | Quantidade de vagas regulares para a cota 5 |
| `VAGAS_REGULARES_L6` | INTEGER | Quantidade de vagas regulares para a cota 6 |
| `VAGAS_REGULARES_L9` | INTEGER | Quantidade de vagas regulares para a cota 9 |

In [31]:
conn, cursor = conectar_banco_dados()

if conn:
    # Criar a tabela "microdados" 
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS microdados (
        carga_horaria INTEGER,
        carga_horaria_minima INTEGER,
        categoria_situacao TEXT,
        co_inst INTEGER,
        cod_unidade INTEGER,
        cor_raca TEXT,
        codigo_da_matricula INTEGER,
        codigo_da_unidade_de_ensino_sistec INTEGER,
        codigo_ciclo_matricula INTEGER,
        codigo_do_municipio_dv INTEGER,
        data_inicio_ciclo TEXT,
        data_fim_previsto_ciclo TEXT,
        data_ocorrencia_matricula TEXT,
        eixo_tecnologico TEXT,
        faixa_etaria TEXT,
        fator_esforco_curso TEXT,
        fonte_de_financiamento TEXT,
        idade INTEGER,
        instituicao TEXT,
        matriculas_atendida TEXT,
        matriculas_equivalentes TEXT,
        modalidade_de_ensino TEXT,
        municipio TEXT,
        mes_de_ocorrencia_da_situacao TEXT,
        nome_de_curso TEXT,
        numero_registros INTEGER,
        regiao TEXT,
        renda_familiar TEXT,
        sexo TEXT,
        situacao_de_matricula TEXT,
        subeixo_tecnologico TEXT,
        tipo_de_curso TEXT,
        tipo_de_oferta TEXT,
        total_inscritos INTEGER,
        turno TEXT,
        uf TEXT,
        unidade_de_ensino TEXT,
        vagas_extraordinarias_ac INTEGER,
        vagas_extraordinarias_l1 INTEGER,
        vagas_extraordinarias_l10 INTEGER,
        vagas_extraordinarias_l13 INTEGER,
        vagas_extraordinarias_l14 INTEGER,
        vagas_extraordinarias_l2 INTEGER,
        vagas_extraordinarias_l5 INTEGER,
        vagas_extraordinarias_l9 INTEGER,
        vagas_regulares_ac INTEGER,
        vagas_regulares_l1 INTEGER,
        vagas_regulares_l10 INTEGER,
        vagas_regulares_l13 INTEGER,
        vagas_regulares_l14 INTEGER,
        vagas_regulares_l2 INTEGER,
        vagas_regulares_l5 INTEGER,
        vagas_regulares_l6 INTEGER,
        vagas_regulares_l9 INTEGER
    )
    """)
   
    print("Tabela microdados criada com sucesso!")

    # Salvar as alterações 
    conn.commit()

    # Fechar a conexão
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela microdados criada com sucesso!

In [32]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela CargosCarreira
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS cargos_carreira (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        carreira_sigla TEXT,
        numero_servidores INTEGER
    )
    """)

    print("Tabela CargosCarreira criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela CargosCarreira criada com sucesso!

In [33]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela ClassificacaoRacialRendaSexo
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS classificacao_racial_renda_sexo (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        cor_raca TEXT,
        renda_familiar TEXT,
        faixa_etaria TEXT,
        sexo TEXT,
        numero_concluintes INTEGER,
        numero_ingressantes INTEGER,
        numero_matriculas INTEGER,
        numero_vagas INTEGER
    )
    """)

    print("Tabela ClassificacaoRacialRendaSexo criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela ClassificacaoRacialRendaSexo criada com sucesso!

In [34]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela CPC
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS cpc (
        ano INTEGER,
        nome_unidade TEXT,
        nome_unidade_recente TEXT,
        sigla TEXT,
        regiao TEXT,
        estado TEXT,
        tipo TEXT,
        sigla_ies TEXT,
        nome_do_curso TEXT,
        nome_area TEXT,
        gnp_cpc_continuo NUMERIC,
        gnp_enade NUMERIC,
        gnp_docentes_doutores NUMERIC,
        gnp_docentes_mestres NUMERIC,
        gnp_idd NUMERIC,
        gnp_infraestrutura NUMERIC,
        gnp_org_didatico_pedagogica NUMERIC,
        gnp_oportunidades_ampliacao_formacao NUMERIC,
        gnp_regime_trabalho NUMERIC,
        gnb_docentes_doutores NUMERIC,
        gnb_docentes_mestres NUMERIC,
        gnb_idd NUMERIC,
        gnb_infraestrutura NUMERIC,
        gnb_org_didatico_pedagogica NUMERIC,
        gnb_oportunidades_ampliacao_formacao NUMERIC,
        gnb_regime_trabalho NUMERIC,
        cursos INTEGER,
        medida_cpc NUMERIC
    )
    """)

    print("Tabela CPC criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela CPC criada com sucesso!

In [35]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela DadosGerais
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS dados_gerais (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        nome_curso TEXT,
        tipo_curso TEXT,
        tipo_eixo_tecnologico TEXT,
        subeixo_tecnologico TEXT,
        tipo_oferta TEXT,
        turno_curso TEXT,
        modalidade_ensino TEXT,
        nome_fonte_financiamento TEXT,
        numero_cursos INTEGER,
        numero_concluintes INTEGER,
        numero_ingressantes INTEGER,
        numero_inscritos INTEGER,
        numero_matriculas INTEGER,
        numero_vagas INTEGER,
        matricula_equivalente_apresentada_geral NUMERIC
    )
    """)

    print("Tabela DadosGerais criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela DadosGerais criada com sucesso!

In [36]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela eficiencia_academica
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS eficiencia_academica (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        nome_unidade_recente TEXT,
        eficiencia_academica_concluidos INTEGER,
        eficiencia_academica_concluidos_percentual NUMERIC,
        eficiencia_academica_indice_eficiencia_academica_percentual NUMERIC,
        eficiencia_academica_numero_evadidos INTEGER,
        eficiencia_academica_retidos INTEGER,
        eficiencia_academica_retidos_percentual NUMERIC,
        eficiencia_academica_taxa_evasao_percentual NUMERIC
    )
    """)

    print("Tabela eficiencia_academica criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela eficiencia_academica criada com sucesso!

In [37]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela IGC
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS igc (
        ano INTEGER,
        sigla TEXT,
        regiao TEXT,
        estado TEXT,
        sigla_ies TEXT,
        g_igc_faixa INTEGER,
        igc_continuo NUMERIC,
        g_cursos_com_cpc_no_trienio INTEGER,
        g_conceito_medio_de_graduacao NUMERIC,
        g_conceito_medio_de_mestrado NUMERIC,
        g_conceito_medio_do_doutorado NUMERIC,
        g_alfa NUMERIC,
        g_beta NUMERIC,
        g_gama NUMERIC,
        numero_de_instituicoes_igc INTEGER,
        medida_igc INTEGER
    )
    """)

    print("Tabela IGC criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela IGC criada com sucesso!

In [38]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela IndicadoresGastos
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS indicadores_gastos (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        gastos_correntes_matricula NUMERIC,
        gastos_correntes_gastos_totais NUMERIC,
        gastos_correntes_gastos_correntes NUMERIC,
        gastos_correntes_inativos_pensionistas NUMERIC,
        gastos_correntes_investimentos_inversoes_financeiras NUMERIC,
        gastos_correntes_precatorios NUMERIC,
        gastos_correntes_outros_custeios NUMERIC,
        gastos_correntes_pessoal NUMERIC
    )
    """)

    print("Tabela IndicadoresGastos criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela IndicadoresGastos criada com sucesso!

In [39]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela IndiceVerticalizacao
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS indice_verticalizacao (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        indice_verticalizacao_eixo_tecnologico INTEGER
    )
    """)

    print("Tabela IndiceVerticalizacao criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela IndiceVerticalizacao criada com sucesso!

In [40]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela OfertaVagasNoturnas
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS oferta_vagas_noturnas (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        oferta_vagas_curso_noturno INTEGER,
        oferta_vagas_curso_noturno_percentual NUMERIC,
        oferta_vagas_graduacao INTEGER
    )
    """)

    print("Tabela OfertaVagasNoturnas criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela OfertaVagasNoturnas criada com sucesso!

In [41]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela PanoramaOrçamentário
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS panorama_orcamentario (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        resultado_primario_cidada TEXT,
        despesa_empenhada NUMERIC,
        despesa_liquidada NUMERIC,
        despesa_paga NUMERIC,
        despesa_liq_rp NUMERIC,
        despesa_empenhada_a_liquidar NUMERIC,
        credito_disponivel NUMERIC
    )
    """)

    print("Tabela PanoramaOrçamentário criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela PanoramaOrçamentário criada com sucesso!

In [42]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela Percentuais Legais
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS percentuais_legais (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        matricula_equivalente_formacao_professores NUMERIC,
        matricula_equivalente_tecnicos NUMERIC,
        matricula_equivalente_proeja NUMERIC,
        matricula_equivalente_geral NUMERIC
    )
    """)

    print("Tabela percentuais_legais criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela percentuais_legais criada com sucesso!

In [43]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela professores_por_instituicao
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS professores_por_instituicao (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        titulacao TEXT,
        jornada_de_trabalho TEXT,
        numero_docentes INTEGER
    )
    """)

    print("Tabela professores_por_instituicao criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela professores_por_instituicao criada com sucesso!

In [44]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela relacao_aluno_professor
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS relacao_aluno_professor (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        rap NUMERIC,
        matriculas_rap INTEGER,
        professor_equivalente INTEGER
    )
    """)

    print("Tabela relacao_aluno_professor criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela relacao_aluno_professor criada com sucesso!

In [45]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela relacao_inscritos_vagas
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS relacao_inscritos_vagas (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        numero_inscritos INTEGER,
        numero_vagas INTEGER,
        relacao_inscrito_vaga NUMERIC
    )
    """)

    print("Tabela relacao_inscritos_vagas criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela relacao_inscritos_vagas criada com sucesso!

In [46]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela reserva_vagas
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS reserva_vagas (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        nome_unidade_recente TEXT,
        tipo_reserva_vaga TEXT,
        vagas_regulares INTEGER,
        vagas_regulares_percentual NUMERIC
    )
    """)

    print("Tabela reserva_vagas criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela reserva_vagas criada com sucesso!

In [47]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela situacao_matricula
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS situacao_matricula (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        categoria_situacao TEXT,
        nome_situacao TEXT,
        fluxo_retido TEXT,
        numero_matriculas INTEGER
    )
    """)

    print("Tabela situacao_matricula criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela situacao_matricula criada com sucesso!

In [48]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela taxa_evasao
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS taxa_evasao (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        nome_curso TEXT,
        tipo_curso TEXT,
        tipo_eixo_tecnologico TEXT,
        subeixo_tecnologico TEXT,
        tipo_oferta TEXT,
        turno_curso TEXT,
        modalidade_ensino TEXT,
        nome_fonte_financiamento TEXT,
        numero_matriculas INTEGER,
        matriculas_numero_evadidos INTEGER,
        matriculas_taxa_evasao_percentual NUMERIC
    )
    """)

    print("Tabela taxa_evasao criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela taxa_evasao criada com sucesso!

In [49]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela taxa_ocupacao
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS taxa_ocupacao (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        matriculas_ciclos_vigentes INTEGER,
        vagas_ciclos_vigentes INTEGER,
        taxa_ocupacao NUMERIC
    )
    """)

    print("Tabela taxa_ocupacao criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela taxa_ocupacao criada com sucesso!

In [50]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela tae_por_titulacao
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS tae_por_titulacao (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        titulacao TEXT,
        numero_tae INTEGER
    )
    """)

    print("Tabela tae_por_titulacao criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela tae_por_titulacao criada com sucesso!

In [51]:
# Conecta ao banco de dados
conn, cursor = conectar_banco_dados()

if conn:
    # Cria a tabela titulacao_docente
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS titulacao_docente (
        ano INTEGER,
        regiao TEXT,
        uf TEXT,
        estado TEXT,
        organizacao_academica TEXT,
        instituicao TEXT,
        instituicao_nome TEXT,
        docente_efetivo INTEGER,
        numero_docentes INTEGER,
        numero_servidores INTEGER,
        itcd NUMERIC
    )
    """)

    print("Tabela titulacao_docente criada com sucesso!")

    # Fecha a conexão
    conn.commit()
    cursor.close()
    conn.close()

Conexão com o banco de dados estabelecida com sucesso!
Tabela titulacao_docente criada com sucesso!